*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

#header-space {
    min-height: 500px;
    background-image: url('../public/images/phoneBg.png');
    background-size: 50%;
    opacity: 0.7;
    border-radius: 20px 0;
    background-repeat: no-repeat;
    
    background-attachment: fixed;
    animation: moveBackground 4s linear infinite alternate;
}

@keyframes moveBackground {
    0% {
        background-position: right top;
    }
    100% {
        background-position:  660px;
    }
}

li { 
    display: inline;
    margin-left: 20px;
}
ul{
    
   margin-right: 10px;
}
ul a {
    text-decoration: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.595);
}
#btn-login{
    border-left: 1px solid gray;
    border-radius: 0 10px 10px 0;
    font-size: 20px;
}

#salutaion{
    font-size: 35px;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.595);
}

#h2_nameShop {
    font-size: 3em;
    font-weight: 600;
}



/* Style for the Slogan */
#Home_p .slogan {
    font-family: "Times New Roman", serif;
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Dark gray text color */
    margin-bottom: 10px;
}

/* Style for the Description */
#Home_p .description {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #666; /* Slightly lighter gray text color */
}
/* FeaturedSection.css */
.featured-section {
    padding: 20px;
  }
  
  .product-grid,
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .product-card,
  .blog-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img,
  .blog-card img {
    max-width: 100%;
    height: auto;
  }
  
  .product-card h3,
  .blog-card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .product-card p,
  .blog-card p {
    margin-top: 10px;
  }
  
  .product-card button,
  .blog-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .product-card button:hover,
  .blog-card button:hover {
    background-color: #0056b3;
  }
  